#!name=BiliIntlClean
#!desc=国际版哔哩，移除热搜、搜索发现，精简我的页面
#!author=iab0x00
#!update=2025-07-04

hostname = app.bilibili.com

^https:\/\/app\.bilibili\.com\/x\/v2\/search\/square\?(.+)$ url reject-dict

^https:\/\/app\.bilibili\.com\/x\/v2\/account\/mine\?(.+) url jsonjq-response-body '.data.sections_v2[1].title |= null | .data.sections_v2[1].items |= map(select((.title | IN("联系客服", "稿件管理", "我的钱包", "我的NFT")) | not))'
